attrs==20.3.0
Babel==2.9.0
beancount==2.3.3
beautifulsoup4==4.9.3
bottle==0.12.19
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
cheroot==8.5.2
click==7.1.2
fava==1.18
Flask==1.1.2
Flask-Babel==2.0.0
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.27.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.19.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
jaraco.functools==3.2.1
Jinja2==2.11.3
lxml==4.6.2
markdown2==2.4.0
MarkupSafe==1.1.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
ply==3.11
protobuf==3.15.1
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
python-magic==0.4.22
pytz==2021.1
requests==2.25.1
rsa==4.7.1
simplejson==3.17.2
six==1.15.0
soupsieve==2.2
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.3
Werkzeug==1.0.1
